*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
html{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #2d3436;
}
body
{
    background:linear-gradient(to right,#D65DB1,#845EC2);
}
h1{
    font-size: 240%;
    margin-top: 20px;
    margin-bottom: 30px;
}
p
{
    font-size: 110%;
    margin-bottom: 20px;
}
.weight
{
    height: 50px;
    width: 360px;
    margin-bottom: 30px;
    border: 1px solid #2d3436;
    font-size: 90%;
}
.height
{
    height: 50px;
    width: 360px;
    margin-bottom: 30px;
    border: 1px solid #2d3436;
    font-size: 90%;
  
}
.output
{
    height: 50px;
    width: 360px;
    border: 1px solid #2d3436;
    background-color: white;
    margin: auto;
}

.BMI-calculator
{
     display: block;
     width: 800px;
     height: 500px;
     margin: auto;
}

.calculate
{
    text-decoration: none;
    color: #dfe6e9;

    margin-left:520px ;
    margin-top: 20px;
    border-radius: 8%;
    padding: 20px 30px;
    transition: background-color 0.5s,border 0.5s;

}
.calculate:link,
.calculate:visited
{

    background-color: #FF9671;
    border: 1px solid #FF9671;
}
.calculate:hover,
.calculate:active
{
    background-color: #ff7d4f;
    border: 1px solid #ff7d4f;
}


